<div id="shared-buttons">
    <h6>Share on:</h6>
    <ul>
      <li>
        <a href="https://twitter.com/intent/tweet?text={{ site.url }}{{ page.url }}" class="twitter btn" title="Share on Twitter"><i class="fa-brands fa-twitter"></i><span> Twitter</span></a>
      </li>
      <li>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" class="facebook btn" title="Share on Facebook"><i class="fa-brands fa-facebook"></i><span> Facebook</span></a>
      </li>
      <li>
        <a href="https://www.reddit.com/submit?url={{ site.url }}{{ page.url }}" class="reddit btn" title="Share on Reddit"><i class="fa-brands fa-reddit"></i><span> Reddit</span></a>
      </li>
    </ul>
  </div><!-- end share-buttons -->