@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200;400&display=swap");

$base-color: #f0fff4;
$semi-color: #f9ffff;
$highlight-color: rgb(98, 98, 173);
$twitter-color: #77bcf1;
$facebook-color: #627aac;
$reddit-color: #FF5700;
$blur-color: #333;

// Mixin for media queries
@mixin respond-to($breakpoint) {
  @if $breakpoint == mobile {
    @media (max-width: 768px) {
      @content;
    }
  }
}


* {
  text-decoration: none;
  padding-top: 0;
  padding-bottom: 0;
  font-family: Roboto, Raleway, fantasy;
  font-size: 16px;
  box-sizing: border-box;
  line-height: 140%;
  @include respond-to(mobile) {
    font-size: 14px; // Adjust font size for mobile
  }
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  max-height: 100vh;
  width: 100vw;
  background-color: $semi-color;
  z-index: 0;
  overflow: auto;
}

#left-side {
  position: fixed;
  left: 0;
  width: 270px;
  z-index: 10;
  background: $base-color;
  padding-right: 30px;
  padding-left: 10px;
  border-top-right-radius: 20%;

  min-height: 100vh;
  display: flex;
  align-items: flex-end;
  text-align: right;
  flex-direction: column;
  justify-content: center;
  
  @include respond-to(mobile) {
    align-items: center;
    text-align: center;
    min-height: auto;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 10%;
    padding-top: 30px;
    padding-bottom: 20px;
    z-index: 1;
    overflow: hidden;
    width: 100%;
  }

  * {
    font-size: 14px;
    color: $highlight-color;
  }
  
  nav {
    font-style: italic;
    #current {
      color: rgb(0, 0, 255);
    }
  }
  
  #self-intro{
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: end;

    @include respond-to(mobile) {
      align-items: center;
    }
    
    #avatar {
      border: 1px solid rgb(225, 225, 225);
      border-radius: 20px;
      margin-right: -12px;
      
      @include respond-to(mobile) {
        margin-right: 0;
      }
    }

    #full-name {
      margin: 0;
      color: $base-color;
      span {
        font-size: 30px;
        font-weight: bold;
        margin-left: 5px;
      }
    }

    #profession {
      font-size: 15px;
      margin: 0;
      margin-top: 4px;
      font-style: italic;
      color: $highlight-color;
    }

    #slogan {
      padding-top: 5px;
      color: $blur-color;
    }

  }


  .social-links {
    width: 100vw;
    
    ul {
      display: flex;
      flex-direction: row;
      justify-content: right;
      list-style: none;
    
      .social-link-item {
        margin-left: 7px;
        border-radius: 3px;
        font-size: 17px;
        i {
          color: $highlight-color;
          font-size: 17px;
        }
      }
      
      @include respond-to(mobile) {
        justify-content: center;
        margin-right: 4%;
      }
    }
  }
}

#right-side {
  z-index: 2;
  background-color: $semi-color;
  padding: 50px;
  padding-left: 320px;
  min-height: 100vh;
  transition: opacity 0.3s ease;
  opacity: 0;
  
  @include respond-to(mobile) {
    z-index: 10;
    padding-left: auto;
    padding: 5vw;
    width: 100vw;
    position: absolute;
  }

  #dynamic-content {
    background-color: $semi-color;
    #date {
      display: inline-block;
      p {
        color: $highlight-color;
      }
    }
    #category-name {
      font-weight: bold;
      color: $reddit-color;
      h1 {
        text-transform: uppercase;
        color: $highlight-color;
      }
    }
  }

  #content {
    min-height: 80vh;
    text-align: justify;
    font-family:'Times New Roman', Times, serif;
  }
}

#shared-buttons {
  display: none;
  margin-top: 50px;
  border-top: 1px solid rgb(232, 232, 232);
  margin-bottom: 50px;

  * {
    font-size: 13px;
  }

  h6 {
    text-transform: uppercase;
    font-weight: normal;
    color: $highlight-color;
  }

  ul {
    display: flex;
    gap: 10px;
    list-style: none;
    flex-direction: row;
    padding-right: 40px;

    
    li > .twitter {
      background-color: $twitter-color;
      border: 1px solid $twitter-color;

    }
    li > .facebook {
      background-color: $facebook-color;
      border: 1px solid $facebook-color;
    }
    li > .reddit {
      background-color: $reddit-color;
      border: 1px solid $reddit-color
    }

    .btn {
      padding: 8px 12px;
      border-radius: 5px;
      color: white;
      font-weight: bold;
    }

    li > .twitter:hover {
      background-color: white;
      color: $twitter-color;

    }
    li > .facebook:hover {
      background-color: white;
      color: $facebook-color;
    }
    li > .reddit:hover {
      background-color: white;
      color: $reddit-color;
    }
    
    @include respond-to(mobile) {
      li > a > span {
        display: none;
      }
    }

  }
  
}

#footer {
  width: 100%;
  text-align: center;
  font-size: 15px;
  * {
    font-size: 15px;
  }
}

.selected-category {
  color: $reddit-color;
}

.MathJax > * {
  zoom: 1.2;
}

.typograms {
  color: blue;
  display: flex;
  gap: 50px;
  @include respond-to(mobile) {
    flex-direction: column;
  }
}

#genAI-definition {
  background-color: antiquewhite;
  padding: 5px 8px;
  color: blue;
}