<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% include header.html %}

    <title>{{ site.name }}</title>
  </head>
  <body>
    <div id="left-side">
      <div id="self-intro" data-turbo-permanent>
        <img id="avatar" width="200px" src="{{ '/assets/images/phu_quoc_2.jpg' | relative_url }}" alt="avatar">
        
        <a href="https://khanh-devos.github.io/blog_memory/" id="full-name">
          <span style="color:#1F9DFF">khanh</span>
          <span style="color:#FF6666">than</span>
        </a>

        <h3 id="profession">SOFTWARE ENGINEER</h3>

        <p id="slogan">To keep tracking my skills & accomplisments</p>
      </div>

      {% include navigation.html %}
      {% include social-links.html %}
      
    </div>

    <div id="right-side">
      {% include dynamic-content.html %}

      {% include shared-buttons.html %}
      {% include footer.html %}
    </div>

  </body>
  
  <script type="text/javascript" src="{{ '/assets/js/default.js' | relative_url }}">
  </script>


</html>