<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    {% feed_meta %}
    {% seo %}

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | absolute_url }}">


    <title>{{ page.title }}</title>
  </head>
  <body>
    <div id="left-header">
      <div id="self-intro">
        <img id="avatar" width="200px" src="https://github.com/khanh-devos/blog_memory/blob/main/assets/images/phu_quoc_2.jpg?raw=true" alt="avatar" >
        <h3 id="full-name">thân khanh</h3>
        <h3 id="profession">SOFTWARE ENGINEER</h3>
      </div>
      

      <i>{% include navigation.html %}</i>
    </div>

    <div id="right-content">
      
      {% assign category = site.categories | where: 'short_name', page.category | first %}
      

      {% if category and page.category %}
        <div style="display: inline-block">
          <p>{{ page.date | date_to_string }} * </p>
        </div>
      
        <a href="{{ category.url }}">{{ category.name }} </a>
      {% endif %}

      {{ content }}
    </div>

  </body>
</html>